[Unit]

Description=Cryptomines Execution Client



Wants=network.target

After=syslog.target network-online.target



[Service]

Type=simple

ExecStart=/usr/bin/start_cryptomines-server

Restart=on-failure

RestartSec=10

KillMode=process



[Install]

WantedBy=multi-user.target